footer {
     width:100%;
/*    display:flex;
    flex-wrap: wrap; */
    display:grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    background-color: rgb(55, 60, 64);
    * {
        background-color: transparent;
        box-sizing: border-box;
    }
    .footer-item{
        margin-bottom:15px;
        padding:10px 20px;
        color: rgb(141, 150, 157);
        flex-basis: 25%;
        
        display:flex;
        flex-direction: column;
        font-size: 14px;
        .title {
            font-size: 32px;
            color: rgb(242, 242, 242);
            position: relative;
            padding-bottom: 20px;
            margin-bottom:10px;
        }

        .title::after{
            position: absolute;
            background-color: rgb(79, 86, 91);
            content: '';
            bottom:0;
            left:0;
            width: 50px;
            height:7px;
        }
    }
}
@media screen and (max-width: 996px){
    .footer-item{
        //min-width: 400px;
    }
}

@media screen and (min-width: 996.1px){
    .footer-item{
        //min-width: 300px;
    }
}